<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Lyrics Translator</title>
    <style>
        body{
  background-color: #b8c6db;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  color:white;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
        /* Style The Dropdown Button */
        .dropbtn {
          background-color: #4CAF50;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }
        
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        /* Links inside the dropdown */
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}
        
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
          background-color: #3e8e41;
        }
        
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: black;
            }


        </style>
</head>


<body style="background-image: url('https://wallpapercave.com/wp/wp7937665.png' ); background-size: 100% 100%;">
    <nav class="navbar">
        <ul class="nav navbar-nav">
          <li><a style="color:white;"href="/auth/song">Home</a></li>
          <li><a style="color:white;"href="/language">About Languages</a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="color:white;"href="http://localhost:3000/auth/google">Log Out  </a></li>
            <li><a href="#">  </a></li>
        </ul>
      </nav>
    <div class="ui secondary menu">
        <div class="header item" style="margin-left: 500px; font-size: 70px; color:white;">
            About the Languages
        </div>
    </div>
    <div class="ui container" style="width: 58%;">
        <p style="font-size: 17px;"> <strong style="font-size: 20px;">Minion: </strong>
            Minionese, the language of the Minions, is not a real-world language—rather it is a borrowed one from existing languages that have been mashed up together to create the gibberish that these cute, lovable creatures speak
        </p>
        <div style="padding:12px;">
        </div>
        <p style="font-size: 17px;"> <strong style="font-size: 20px;">Dothraki: </strong>
            Dothraki is the language spoken by the Dothraki people, the nomadic mounted tribes of the central plains of Essos, known as the Dothraki Sea.
        </p>
        <div style="padding:12px;">
        </div>
        <p style="font-size: 17px;"> <strong style="font-size: 20px;">Valyrian: </strong>
            High Valyrian is the language of the old Valyrian Freehold which was located on the eastern continent of Essos.
        </p>
        <div style="padding:12px;">
        </div>
        <p style="font-size: 17px;"> <strong style="font-size: 20px;">Mandalorian: </strong>
            Mando'a, sometimes referred to simply as Mandalorian, was the primary language spoken by the Mandalorian culture.
        </p>
        <div style="padding:12px;">
        </div>
        <p style="font-size: 17px;"> <strong style="font-size: 20px;">Yoda: </strong>
            Yodish, the language of Yoda of Star Wars fame is quite similar to that of our standard English. The words he uses are the same as those we use
        </p>
        <div style="padding:12px;">
        </div>
    </div>


</body>

</html>
