<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Lyrics Translator</title>
    <style>
        body{
  background-color: #b8c6db;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  color:white;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    </style>
</head>

<body style="background-image: url('https://wallpapercave.com/wp/wp7937665.png' ); background-size: 100% 100%;">
    <nav class="navbar">
        <ul class="nav navbar-nav">
          <li><a style="color:white;"href="/auth/song">Home</a></li>
          <li><a style="color:white;"href="/language">About Languages</a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="color:white;"href="http://localhost:3000/auth/google">Log Out  </a></li>
            <li><a href="#">  </a></li>
        </ul>
      </nav>
    <div class="ui secondary menu">
        <div class="header item" style="margin-left: 500px; font-size: 70px;color:white;">
            Lyrics Translator
        </div>
    </div>

    <div class="ui container" style="width: 80%;">
        <h2>Lyrics Translated to <%= language %>!</h2>
        <div style="padding:15px;">
        </div>
        <h4 class="ui dividing header" style="width: 100%; font-size:20px;color:white"><b>Original Lyrics:</b></h4>
        <p style=" font-size:18px;color:white">
            <%= lyrics %>
            <div style="padding:8px;">
            </div>
        </p style=" font-size:18px;color:white">
        <h4 class="ui dividing header" style="width: 100%; font-size:20px;color:white"><b>Lyrics in <%= language %> Language:</b></h4>
        <p style=" font-size:18px;color:white">
            <%= data.contents.translated %>
        </p>
        <br>
        <a class="ui white button" href="/auth/song" style="color:black ; height:50px; font-size:20px">Go back</a>
    </div>
</body>

</html>