<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Translator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar">
        <ul class="nav navbar-nav">
          <li><a style="color:white;" href="/auth/song">Home</a></li>
          <li><a style="color:white;" href="/language">About Languages</a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="color:white;" href="http://localhost:3000/auth/google">Log Out  </a></li>
            <li><a href="#">  </a></li>
        </ul>
      </nav>
    <h1>Lyrics Translated!</h1>

</body>

</html>