  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


body{
  background-color: #b8c6db;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quiz-container {
  width: 950px;
  overflow: hidden;
  color:  white;
}

.quiz-header {
  padding: 4rem;
}

h5{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 80px;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

label:hover{
  color: grey;
}

#body{
  display: flex;
}

#submit {
  background-color: black;
  color: #fff;
  border: 10px;
  display: block;
  width: 400px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  border-radius: 10px;
}

#submit:hover{
  background-color: grey;
}

button:hover {
  background-color: grey;
}

button:focus {
  outline: none;
  background-color: grey;
}

h1 {
  text-align: center;
  color: rgb(12, 8, 12);
  font-weight: 900;
  font-size: 100px;
  font-family: monospace;
}
p{
  text-align: center;
  color: rgb(12, 8, 12);
  font-weight: 900;
  font-size: 30px;
  font-family: monospace;
}
.center {
  background-color: black; /* Green */
  border: none;
  color: white;
  align-items: center;
  padding: 20px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a { 
  float: left;
  color: #f2f2f2; 
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
